Repository jiaozitang/react-masonry-component2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: 更新说明文档
  README.md
Due: none

chore: 在线文档
  .gitignore
  README.md
  chromatic.yml
  package.json
Due: none

docs: blog
  blog.md
Due: none

docs: blog2
  blog-5 种瀑布流场景的实现.md
Due: none

docs: blog
  blog-5 种瀑布流场景的实现.md
Due: none

feat: js ES6 模块打包
  blog3.md
  bundle.js
  rollup.config.js
  src/foo.js
  src/main.js
Due: none

feat: resolve-plugin
  blog3.md
  bundle.js
  package.json
  rollup.config.js
  src/main.js
  yarn.lock
Due: none

feat: commonjs plugin
  blog3.md
  index.html
  rollup.config.js
Due: none

feat: common plugin
  blog3.md
  bundle.js
  src/foo.js
  src/main.js
Due: none

feat: postcss plugin
  blog3.md
  bundle.js
  package.json
  rollup.config.js
  src/foo.scss
  src/main.js
  yarn.lock
Due: prettier --write

feat: postcss plugin
  blog3.md
  bundle.js
  css/index.css
  rollup.config.js
  src/main.js
Due: none

feat: ts plugin
  blog3.md
  bundle.js
  foo.d.ts
  index.d.ts
  rollup.config.js
  src/foo.ts
  src/main.js
Due: none

feat: del app
  .czrc
  .husky/commit-msg
  .husky/pre-commit
  .storybook/main.js
  .storybook/preview.js
  CHANGELOG.md
  LICENCE.md
  blog-5 种瀑布流场景的实现.md
  blog.md
  chromatic.yml
  scripts/buildUtil.js
  src/Introduction.stories.mdx
  src/Masonry/const.ts
  src/Masonry/hooks/index.ts
  src/Masonry/index.ts
  src/Masonry/masonry-absolute/index.scss
  src/Masonry/masonry-absolute/index.tsx
  src/Masonry/masonry-absolute/utils.ts
  src/Masonry/masonry-column/index.scss
  src/Masonry/masonry-column/index.tsx
  src/Masonry/masonry-flex/index.scss
  src/Masonry/masonry-flex/index.tsx
  src/Masonry/masonry-flex/utils.ts
  src/Masonry/masonry-item/index.tsx
  src/Masonry/masonry.stories.mdx
  src/Masonry/masonry.tsx
  src/Masonry/mock.json
  src/assets/code-brackets.svg
  src/assets/colors.svg
  src/assets/comments.svg
  src/assets/direction.svg
  src/assets/flow.svg
  src/assets/plugin.svg
  src/assets/repo.svg
  src/assets/stackalt.svg
  src/index.ts
  src/react-app-env.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: ts
  blog3.md
  bundle.js
  css/index.css
  dist/foo/index.d.ts
  dist/hello/index.d.ts
  dist/index.js
  dist/index2.js
  dist/main.js
  index.d.ts
  index.html
  package.json
  rollup.config.js
  scripts/buildUtil.js
  src/foo/index.scss
  src/foo/index.ts
  src/hello/index.ts
  src/main.js
  tsconfig.json
  yarn.lock
Due: prettier --write

feat: output 结构
  dist/const.d.ts
  dist/const.js
  dist/foo/index.js
  dist/foo/index.scss.js
  dist/hello/index.js
  dist/main.js
  dist/node_modules/style-inject/dist/style-inject.es.js
  rollup.config.js
  src/const.ts
  src/hello/index.ts
Due: none

feat: 删除不用的config
  rollup.config.js
Due: none

chore: 完善rollup配置
  rollup.config.js
Due: none

chore: rollup
  rollup.config.js
Due: none

docs: blog-rollup
  blog-rollup.md
  package.json
  rollup.config.js
  tsconfig.json
  yarn.lock
Due: none

docs: blog
  blog-rollup.md
Due: none

feat: blog
  .lintstagedrc
  blog/blog-5 种瀑布流场景的实现.md
  blog/blog-rollup.md
  blog/blog.md
Due: none

feat: 瀑布流滚动到底部自动加载
  package.json
  src/Masonry/masonry-absolute/index.tsx
  src/Masonry/masonry.tsx
  src/masonry-scroll/index.ts
  src/masonry-scroll/masonry-scroll.stories.mdx
  src/masonry-scroll/masonry-scroll.tsx
  src/masonry-scroll/mock.json
  yarn.lock
Due: prettier --write, eslint --fix

feat: 预加载
  src/masonry-scroll/masonry-scroll.stories.mdx
  src/masonry-scroll/masonry-scroll.tsx
  src/masonry-scroll/mock.json
Due: prettier --write, eslint --fix

docs: 更新文档
  README.md
  package.json
Due: none

chore: 更新版本
  package.json
  src/index.ts
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.tsx) or (any of: src/**/*.scss)
  eslint --fix: any of: src/**/*.tsx
